:root {
    --main-bg-color: white;
    --cardinal: #C41E3A;
}

* {
    font-family: Helvetica, Calibri, Open Sans, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: lighter;
}
body {
    padding: 5rem;
}
h1, h2 {
    font-weight: lighter;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
}
hr {
    margin: 1rem 20rem;
    border-color: var(--cardinal);
}

.container-fluid {
    padding: 2rem 20rem;
}
.projectlink, .projectlink:link, .projectlink:visited {
    font-size: 2rem;
    color: var(--cardinal);
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.projectlink:hover {
    background-color: var(--cardinal);
    color: white;
}
.projectlink:active {
    background-color: white;
    color: var(--cardinal);
}
.btn {
    color: var(--cardinal);
    background-color: inherit;
    width: 10rem;
    border-radius: 0.5rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn span {
    display: none;
}
.btn i {
    display: inline;
    color: var(--cardinal);
}
.btn:hover {
    background-color: var(--cardinal);
    color: white;
}
.btn:hover i {
    display: none;
}
.btn:hover span {
    display: inline;
}
.btn:active {
    background-color: white;
}
.btn:active i, .btn:active span {
    color: var(--cardinal);
}


@media (max-width: 768px) {
    .container-fluid {
        padding: 0rem 0rem;
    }
    hr {
        margin: 0rem;
    }
    * {
        font-weight: normal;
    }
    .btn {
        width: auto;
    }
    /*don't want desktop hover behavior on mobile*/
    .btn:hover {
        background-color: var(--cardinal);
        color: white;
    }
    .btn:hover i {
        display: inline;
        color: white;
    }
    .btn:hover span {
        display: none;
    }
    .btn:active {
        background-color: var(--cardinal);
    }
    .btn:active i {
        color: white;
    }
}
