:root {
    --main-bg-color: white;
    --cardinal: #C41E3A;
}

* {
    font-family: Helvetica, Calibri, Open Sans, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: lighter;
}
body {
    padding: 5rem;
}
h1, h2 {
    font-weight: lighter;
}
h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 36px;
}
.container-fluid {
    padding: 2rem 20rem;
}

.btn {
    border: none;
}
.row {

}

@media (max-width: 767px) {
    .container-fluid {
        padding: 0rem;
    }
}
