
.btn {
    display: inline-block;
    padding: 15px 30px;
    /*vertical-align: middle;*/
    height: 20px;
    width: 100px;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    color: var(--cardinal);
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn span {
    display: none;
}
.btn i {
    display: inline;
}
.btn:hover {
    background-color: var(--cardinal);
    color: white;
}
.btn:hover i {
    display: none;
}
.btn:hover span {
    display: inline;
}

.btn:active {
    background-color: white;
}
.btn:active i {
    color: var(--cardinal);
}
.btn:active span {
    color: var(--cardinal);
}
