:root {
    --main-bg-color: white;
    --cardinal: #C41E3A;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 50px;
    padding: 5px;
    border-top: 1px solid var(--cardinal);
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/*Below is CSS for neat button hovering*/

a, a:link, a:visited {
    color: var(--cardinal);
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    background-color: var(--cardinal);
    color: white;
    text-decoration: none;
}
a:active {
    background-color: white;
    color: var(--cardinal);
}

.btn {
    color: var(--cardinal);
    background-color: inherit;
    width: 7rem;
    border-radius: 0.5rem;
    /*border: 1px solid var(--cardinal);*/
    border: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn span {
    display: none;
}
.btn i {
    display: inline;
    color: var(--cardinal);
}
.btn:hover {
    background-color: var(--cardinal);
    color: white;
}
.btn:hover i {
    display: none;
}
.btn:hover span {
    display: inline;
}
.btn:active {
    background-color: white;
}
.btn:active i, .btn:active span {
    color: var(--cardinal);
}