@import url('https://rsms.me/inter/inter.css');

:root {
    --main-bg-color: ivory;
    --main-bg-color: floralwhite;
    --main-text-color: black;
    --accent: slategray;
    --link-color: steelblue;
}

::-moz-selection {
    background: var(--accent);
    color: var(--main-bg-color);
}

::selection {
    background: var(--accent);
    color: var(--main-bg-color);
}

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    width: 85%;
    max-width: 60rem;
    line-height: 1.5;
    padding: 4rem 1rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 2rem;
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    margin: 0;
    padding: 0;
    position: relative;
    width: 60%;
}

img {
    max-width: 100%;
}

.sidenote, .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

blockquote {
    border-left: 4px solid coral;
    padding: 0 15px;
    color: var(--accent);
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

blockquote> :first-child {
    margin-top: 0;
}

blockquote> :last-child {
    margin-bottom: 0;
}

code {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: white;
    border-radius: 3px;
    font-size: 1.2em;
}

pre {
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    border-left: 2px solid coral;
    font-size: 0.9em;
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    background-color: transparent;
    border: none;
}

.highlight pre {
    border: 1px solid #cccccc;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}

/* CSS for link hovering */

a, a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:hover {
    background-color: var(--link-color);
    color: var(--main-bg-color);
    text-decoration: none;
}

a:active {
    background-color: var(--main-bg-color);
    color: var(--link-color);
}
