
.smallbtn {
    display: inline;
    text-decoration: none;
    border-radius: 3px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.smallbtn:visited {
    color: var(--cardinal);
}
.smallbtn:hover {
    background-color: var(--cardinal);
    color: white;
}
.smallbtn:active {
    color: var(--cardinal);
    background-color: white;
}
