<!doctype html>
<html>
    {% include head.html %}

    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <!-- <li><a href="/about">about</a></li> -->
                <!-- <li><a href="/notes">notes</a></li> -->
                <li><a href="https://mingyli.github.io/blog/">blog</a></li>
                <li>
                    <a href="https://mingyli.github.io/crystal-ball-cup/"
                        >crystal ball cup</a
                    >
                </li>
                <!-- <li><a href="/cs70">cs70</a></li> -->
            </ul>
        </nav>
        <div>{{ content }}</div>
    </body>
</html>
