<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <!-- <li><a href="/about">about</a></li> -->
            <!-- <li><a href="/notes">notes</a></li> -->
            <li><a href="https://blog.myli.me">blog</a></li>
	    <!-- <li><a href="https://paper.dropbox.com/published/Directory-A8yJELDpyCOVIfpRpU9Fdeq">book club</a></li> -->
	    <!-- <li><a href="/cs70">cs70</a></li> -->
        </ul>
    </nav>
    <div>
        {{ content }}
    </div>
</body>

</html>
