<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon48.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about/">about</a></li>
                <li><a href="/projects/">projects</a></li>
                <li><a href="/notes/">notes</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div>
        <footer>
            <div class="row justify-content-center">
                <div class="col col-xs-auto text-right">
                    <a href="https://github.com/mingyli" class="btn" role="button">
                        <span>GitHub</span>
                    </a>
                </div>
                <div class="col col-xs-auto text-center">
                    <a href="https://www.linkedin.com/in/mingyli34" class="btn" role="button">
                        <span>LinkedIn</span>
                    </a>
                </div>
                <div class="col col-xs-auto text-left">
                    <a href="https://drive.google.com/open?id=0B7-5KVI3XH0zeV9iZHZxbkxlRVE" class="btn" role="button">
                        <span>Resume</span>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
